In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/sarga/Python3/Module_1/data_sf.csv')

In [ ]:
#small_df = df.iloc[[1,3,5],[1,2,3,4]]

In [ ]:
small_df = df[df.columns[1:8]].head(25)
small_df

***ПОДСЧЕТ КОЛИЧЕСТВА ЗНАЧЕНИЙ ПО СТРОКОВЫМ ПРИЗНАКАМ***

In [ ]:
# Cколько футболистов относится к каждой из представленных национальностей.

s = small_df["Nationality"].value_counts()
display(s)

In [ ]:
#Вызвав первый индекс переменной s мы получим страну с наибоьшим количеством футболистов
s.index[0]

In [ ]:
#Если мы вызовем функцию len для серии s, то получим количество уникальных значений исходной серии, то есть количество национальностей, которые встречаются в датафрейме 
#small_df:
len(s.index)

In [ ]:
# Получившуюся серию s можно отфильтровать по определенному значению.
# Например, оставить только такие сборные, в которых больше 
# 1 футболиста:
s.loc[s>1]

In [ ]:
# Можно посчитать количество футболистов не 
# в абсолютных числах, а в процентах от общего числа в датасете. 
# Для этого надо вызвать функцию value_counts() с параметром normalize=True:
df['Nationality'].value_counts(normalize = True)

***ПОДСЧЕТ КОЛИЧЕСТВА ЗНАЧЕНИЙ ПО ЧИСЛЕННЫМ ПРИЗНАКАМ***

In [ ]:
s = df['Age'].value_counts()
display(s)

In [ ]:
s = df["Wage"].value_counts()
s

*Из-за того, что цифры зарплат повторяются не часто , трудно сделать какие-то выводы. Но всё будет более наглядно, если мы разобьем весь возможный диапазон зарплат на 4 равных промежутка и подсчитаем количество футболистов, попадающих в каждый из промежутков. Именно для этого нужен параметр bins:*

In [ ]:
s=df["Wage"].value_counts(bins = 4)
s

*Теперь видно, что распределение неравномерное и только 2 футболиста из 25 получают сверхвысокую зарплату.*

In [ ]:
#Давайте посмотрим, что это за футболисты:
df.loc[(df.Wage > s.index[3].left) & (df.Wage <= s.index[3].right)]

In [ ]:
small_df = df[df.columns[0:7]].head(25)
s = small_df['Wage'].value_counts(bins=4)
small_df['Wage'] > s.index[3].left

***Функции unique и nunique и преобразование серии value_counts в датафрейм***

In [ ]:
small_df['Nationality'].unique()

In [ ]:
len(small_df['Nationality'].unique())

In [ ]:
small_df['Nationality'].nunique()

***Преобразование серии value_counts в датафрейм***

In [ ]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
s_df

In [ ]:
s_df.columns = ['Nationality', 'Players Count']
s_df

*** ***

***Pivot-Table Functions***

In [9]:
pivot = df.loc[df['Club'].isin(['FC Barcelona', 'Real Madrid', 'Juventus', 'Manchester United',
                                'Shakhtar Donetsk'])].pivot_table(values='Wage',
                                                                  index='Nationality',
                                                                  columns='Club',
                                                                  aggfunc='sum',
                                                                  margins=True)
display(pivot)

Club,FC Barcelona,Juventus,Manchester United,Real Madrid,Shakhtar Donetsk,All
Nationality,,,,,,
Argentina,565000.0,205000.0,206000.0,NaN,NaN,976000
Belgium,110000.0,NaN,230000.0,240000.0,NaN,580000
Bosnia Herzegovina,NaN,180000.0,NaN,NaN,NaN,180000
Brazil,465000.0,335000.0,91000.0,570000.0,3000.0,1464000
Chile,205000.0,NaN,215000.0,NaN,NaN,420000
Costa Rica,NaN,NaN,NaN,195000.0,NaN,195000
Croatia,260000.0,160000.0,NaN,420000.0,NaN,840000
Dominican Republic,NaN,NaN,NaN,140000.0,NaN,140000
Ecuador,NaN,NaN,120000.0,NaN,NaN,120000
England,NaN,NaN,478000.0,NaN,NaN,478000
France,495000.0,145000.0,375000.0,459000.0,NaN,1474000
Germany,240000.0,160000.0,NaN,355000.0,NaN,755000
Italy,NaN,460000.0,88000.0,NaN,NaN,548000
Ivory Coast,NaN,NaN,105000.0,NaN,NaN,105000
Morocco,NaN,160000.0,NaN,NaN,NaN,160000
Netherlands,135000.0,NaN,NaN,NaN,NaN,135000
Poland,NaN,125000.0,NaN,NaN,NaN,125000
Portugal,125000.0,405000.0,NaN,NaN,NaN,530000
Scotland,NaN,NaN,11000.0,NaN,NaN,11000
Serbia,NaN,NaN,165000.0,NaN,NaN,165000
Spain,912000.0,NaN,260000.0,1404000.0,NaN,2576000
Ukraine,NaN,NaN,NaN,NaN,7000.0,7000
Uruguay,455000.0,NaN,NaN,NaN,NaN,455000
Wales,NaN,NaN,13000.0,355000.0,NaN,368000
All,3967000.0,2335000.0,2357000.0,4138000.0,10000.0,12807000

In [10]:
pivot = df.loc[df['Club'].isin(['FC Barcelona', 'Real Madrid', 'Juventus', 'Manchester United',
                                'Shakhtar Donetsk'])].pivot_table(values='Wage',
                                                                  index='Nationality',
                                                                  columns='Club',
                                                                  aggfunc='sum',
                                                                  margins=True,
                                                                 fill_value = 0)
display(pivot)

Club,FC Barcelona,Juventus,Manchester United,Real Madrid,Shakhtar Donetsk,All
Nationality,,,,,,
Argentina,565000,205000,206000,0,0,976000
Belgium,110000,0,230000,240000,0,580000
Bosnia Herzegovina,0,180000,0,0,0,180000
Brazil,465000,335000,91000,570000,3000,1464000
Chile,205000,0,215000,0,0,420000
Costa Rica,0,0,0,195000,0,195000
Croatia,260000,160000,0,420000,0,840000
Dominican Republic,0,0,0,140000,0,140000
Ecuador,0,0,120000,0,0,120000
England,0,0,478000,0,0,478000
France,495000,145000,375000,459000,0,1474000
Germany,240000,160000,0,355000,0,755000
Italy,0,460000,88000,0,0,548000
Ivory Coast,0,0,105000,0,0,105000
Morocco,0,160000,0,0,0,160000
Netherlands,135000,0,0,0,0,135000
Poland,0,125000,0,0,0,125000
Portugal,125000,405000,0,0,0,530000
Scotland,0,0,11000,0,0,11000
Serbia,0,0,165000,0,0,165000
Spain,912000,0,260000,1404000,0,2576000
Ukraine,0,0,0,0,7000,7000
Uruguay,455000,0,0,0,0,455000
Wales,0,0,13000,355000,0,368000
All,3967000,2335000,2357000,4138000,10000,12807000

In [15]:
pivot.columns

Index(['FC Barcelona', 'Juventus', 'Manchester United', 'Real Madrid',
       'Shakhtar Donetsk', 'All'],
      dtype='object', name='Club')

In [20]:
pivot.loc['Argentina']['FC Barcelona']

565000

In [34]:
#V1
pivot = df.loc[df['Club'].isin(['FC Barcelona', 'Real Madrid', 'Juventus',
                                'Manchester United'])].pivot_table(values='Name',
                                                                   index='Nationality',
                                                                   columns='Club',
                                                                   aggfunc='count',
                                                                   fill_value=0)
pivot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, Argentina to Wales
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FC Barcelona       23 non-null     int64
 1   Juventus           23 non-null     int64
 2   Manchester United  23 non-null     int64
 3   Real Madrid        23 non-null     int64
dtypes: int64(4)
memory usage: 920.0+ bytes

In [28]:
pivot.loc['Argentina']['Manchester United']

2

In [31]:
#V2
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
pivot.loc['Argentina']['Name']['Manchester United']

2

In [35]:
pivot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, Argentina to Wales
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FC Barcelona       23 non-null     int64
 1   Juventus           23 non-null     int64
 2   Manchester United  23 non-null     int64
 3   Real Madrid        23 non-null     int64
dtypes: int64(4)
memory usage: 920.0+ bytes

ЗАДАНИЯ По ПАНДАС

In [ ]:
#  Сколько футбольных клубов представлено в датасете?

In [ ]:
club = df['Club'].value_counts()
len(club.index)

In [ ]:
#Отметьте названия футбольных клубов, представленных в датасете наибольшим 
#количеством игроков.

club.head(3)

In [ ]:
# Данные об игроках каких позиций (Position) занимают более 10% датасета?
df['Position'].value_counts(normalize = True).tail(10)

In [ ]:
#В каких пределах находятся худшие 20% 
#показателей точности ударов ногой (FKAccuracy)?

df["FKAccuracy"].value_counts(bins = 5)

In [ ]:
small_df.groupby("Nationality").agg("mean")

In [ ]:
# У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах
# 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа 
# (округлите полученный результат) без знака %.
fb = df.loc[(df['Nationality'] == 'Spain')
            ]['Wage'].value_counts(bins=4, normalize=True)
fb

In [ ]:
# Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб 
#(Club) "Manchester United".
fb = df.loc[(df['Club'] == 'Manchester United')]['Nationality'].nunique()
fb

In [ ]:
# С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'),
# выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме)
# через запятую в алфавитном порядке.
df.loc[(df['Club'] == 'Juventus') & (
    df['Nationality'] == 'Brazil')]['Name'].unique()

In [ ]:
a = df.loc[(df.Club == "Juventus") & (df.Nationality == "Brazil")]
a["Name"].unique()

In [ ]:
# Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) 
#старше 35 лет.
df.loc[(df.Age > 35)]['Club'].value_counts()

In [ ]:
# С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') 
# на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.

df.loc[df.Nationality == "Argentina"]["Age"].value_counts(bins = 4)

In [ ]:
# Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 
# знаков после запятой без указания знака % (например, 12.35).

df.loc[df.Nationality == 'Spain']['Age'].value_counts(normalize = True)

Groupby

In [ ]:
#Отметьте позиции (Position), по которым общая сумма зарплат (Wage) игроков превышает 5 млн евро в год.
wage = df.groupby(["Position"])["Wage"].agg(sum).sort_values(ascending = False)
wage

In [ ]:
#Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position). 
#Представители какой позиции имеют самую высокую среднюю цену
wage_m = df.groupby(["Position"])[['Wage','Value']].mean().sort_values(['Value'], ascending = False)
wage_m

In [ ]:
#Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из
#разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

med = df.groupby(df['Club'])['Wage'].agg(['mean', 'median'])
med.loc[(med['mean']) == (med['median'])].info()

In [ ]:
#Продолжаем работать с клубами, в которых средняя зарплата совпадает с медианной. Каков максимальный размер 
#средней зарплаты в этой группе клубов?
med = df.groupby(df['Club'])['Wage'].agg(['mean', 'median'])
med.loc[(med['mean']) == (med['median'])].sort_values(
    ['mean'], ascending=False).head(3)

In [ ]:
# С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".
wage = df.groupby(df['Club'])['Wage'].sum()
wage['Chelsea']

In [ ]:
# Определите максимальную зарплату футболиста национальности (Nationality)
# Аргентина ("Argentina") в возрасте 20 лет.
rt = df.loc[(df['Age'] == 20)].groupby(df['Nationality'])['Wage'].max()
rt['Argentina']

In [ ]:
# Определите максимальную зарплату футболиста национальности (Nationality) Аргентина 
#("Argentina") в возрасте 30 лет
fb = df.loc[(df['Age'] == 30)].groupby(df['Nationality'])['Wage'].max()
fb['Argentina']

In [ ]:
# Определите минимальную зарплату футболиста национальности (Nationality) 
# Аргентина ("Argentina") в возрасте 30 лет.

fb_min = df.loc[(df['Age'] == 30)].groupby(['Nationality'])['Wage'].max()
fb_min['Argentina']

In [ ]:
# Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona"
# из Аргентины  ("Argentina"). Ответ введите через точку с запятой без пробела.

fb = df.loc[(df['Club'] == 'FC Barcelona')].groupby(df['Nationality'])[['Balance','Strength']].max()
fb.loc['Argentina']