In [21]:
import pandas as pd

In [22]:
fb = pd.read_csv('data_sf.csv')

In [19]:
fb

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [ ]:
small_df = fb[fb.columns[1:8]].head(25)

In [ ]:
s = small_df['Nationality'].value_counts()

In [ ]:
display(s) # Apply here reset index

In [ ]:
s_df = s.reset_index()
s_df

In [ ]:
s_df.columns = ['Nationality', 'Players Count']
s_df

In [ ]:
s = small_df['Wage'].value_counts()
s

In [ ]:
s = small_df['Wage'].value_counts(bins = 4)
s

In [ ]:
small_df.loc[(small_df['Wage'] > s.index[1].left) &
             (small_df['Wage'] <= s.index[1].right)]

In [ ]:
s = small_df['Nationality'].value_counts()
print(s)
print()
s = small_df['Nationality'].unique()
print(s)

In [ ]:
fb.groupby(['Club'])

In [ ]:
fb.groupby('Club').groups

In [ ]:
gr_fb = fb.groupby('Club').sum()
display(gr_fb)

In [ ]:
gr_fb.loc['Ajax']

In [ ]:
gr_fb.loc['Ajax']['Wage']

In [ ]:
gr_fb = fb.groupby(['Club'])['Wage'].sum()
gr_fb

In [ ]:
gr_fb = fb.groupby(['Club'])['Wage'].sum().sort_values(ascending = False)
gr_fb

In [ ]:
gr_fb = fb.groupby(['Club'])['Wage'].sum()
gr_fb.loc['Shakhtar Donetsk']

In [ ]:
fb.loc[(fb['Nationality'] == 'Ukraine') & (fb['Position'] == 'GK')]

In [ ]:
fb.groupby(['Nationality'])[['Wage', 'Age', 'ShotPower']].mean()

In [ ]:
bd = fb.groupby(['Nationality'])[['Wage', 'Age', 'ShotPower']
                                 ].mean().sort_values(['Wage'], ascending=False)
bd

In [ ]:
bd.loc['Ukraine']

In [ ]:
bd.loc['Egypt']

In [ ]:
s = small_df['Nationality'].value_counts()
print(s)
print()
s = small_df['Nationality'].unique()
print(s)

In [ ]:
fb.groupby(['Nationality'])[['Club','Name']].nunique()

In [ ]:
fb.groupby(['Club'])['Name'].count()

***Pivot-Table Functions***

In [ ]:
pivot = fb.loc[fb['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United',
                                'Shakhtar Donetsk'])].pivot_table(values=['Wage'],
index = ['Nationality'],
columns = ['Club'],
aggfunc='sum',
margins = True)
display(pivot)

In [24]:
pivot = fb.loc[fb['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

                           Name
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                     1        1                 2           0
Belgium                       1        0                 1           1
Bosnia Herzegovina            0        1                 0           0
Brazil                        2        2                 1           2
Chile                         1        0                 1           0
Costa Rica                    0        0                 0           1
Croatia                       1        1                 0           1
Dominican Republic            0        0                 0           1
Ecuador                       0        0                 1           0
England                       0        0                 6           0
France                        3        1                 2           3
Germany                       1        1                 0           1
Italy                         0        4                 1           0
Ivory Coast                   0        0                 1           0
Morocco                       0        1                 0           0
Netherlands                   1        0                 0           0
Poland                        0        1                 0           0
Portugal                      1        1                 0           0
Scotland                      0        0                 1           0
Serbia                        0        0                 1           0
Spain                         9        0                 1          11
Uruguay                       1        0                 0           0
Wales                         0        0                 1           1

In [26]:
pivot.loc['Argentina']['Name']['Manchester United']

2

In [3]:
s = fb['Club'].value_counts()
s

Shonan Bellmare      30
V-Varen Nagasaki     30
De Graafschap        29
Vissel Kobe          29
FC Emmen             29
                     ..
FC Metz               8
Vitória Guimarães     7
GD Chaves             7
Dinamo Zagreb         7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [4]:
da = fb['Position'].value_counts(normalize=True)
da.tail(2)

LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [5]:
acc = fb['FKAccuracy'].value_counts(bins=5)
display(acc)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [6]:
df = fb.loc[(fb['Nationality'] == 'Spain')
            ]['Wage'].value_counts(bins=4, normalize=True)
df

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [7]:
df = fb.loc[(fb['Club'] == 'Manchester United')]['Nationality'].nunique()
df

13

In [8]:
fb.loc[(fb['Club'] == 'Juventus') & (
    fb['Nationality'] == 'Brazil')]['Name'].unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [ ]:
fb.loc[(fb['Age'] > 35)]['Club'].value_counts()

In [ ]:
fb.loc[(fb['Nationality'] == 'Argentina')]['Age'].value_counts(bins=4)

In [9]:
fb.loc[(fb['Nationality'] == 'Spain')]['Age'].value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [10]:
# Отметьте позиции (Position), по которым общая сумма зарплат (Wage) игроков превышает 5 млн евро в год.

fb_po = fb.groupby(['Position'])['Wage'].sum().sort_values(ascending = False)
fb_po

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [ ]:
fb_pos = fb.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending = False)
fb_pos

In [13]:
# Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). 
# В скольких клубах средняя и медианная зарплаты совпадают?

med = fb.groupby(fb['Club'])['Wage'].agg(['mean', 'median'])
med.loc[(med['mean']) == (med['median'])].info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 1. FC Magdeburg to Viktoria Plzeň
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mean    52 non-null     float64
 1   median  52 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 1.2+ KB

In [14]:
med = fb.groupby(fb['Club'])['Wage'].agg(['mean', 'median'])
med.loc[(med['mean']) == (med['median'])].sort_values(
    ['mean'], ascending=False).head(3)

               mean  median
Club
Cruzeiro    13000.0   13000
Göztepe SK   7000.0    7000
Brøndby IF   6000.0    6000

In [15]:
# С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".
che = fb.groupby(fb['Club'])['Wage'].sum()
che['Chelsea']

2035000

In [ ]:
# Определите максимальную зарплату футболиста национальности (Nationality)
# Аргентина ("Argentina") в возрасте 20 лет.

rt = fb.loc[(fb['Age'] == 20)].groupby(fb['Nationality'])['Wage'].max()
rt['Argentina']

In [16]:
# Определите максимальную зарплату футболиста национальности (Nationality) Аргентина 
#("Argentina") в возрасте 30 лет.

max_sal = fb.loc[(fb['Age'] == 30)].groupby(fb['Nationality'])['Wage'].max()
max_sal['Argentina']

300000

In [ ]:
# Определите минимальную зарплату футболиста национальности (Nationality) 
# Аргентина ("Argentina") в возрасте 30 лет.

min_sal = fb.loc[(fb['Age'] == 30)].groupby(fb['Nationality'])['Wage'].min()
min_sal['Argentina']

In [17]:
# Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona"
# из Аргентины  ("Argentina"). Ответ введите через точку с запятой без пробела.

tu = fb.loc[(fb['Club']) == 'FC Barcelona'].groupby(
    fb['Nationality'])[['Strength', 'Balance']].max()
tu.loc['Argentina']

Strength    59
Balance     95
Name: Argentina, dtype: int64

In [21]:
# Создайте сводную таблицу, содержащую сведения о количестве игроков, занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.
# Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой.

piv = fb.pivot_table(values=['Name'],
                     index=['Position'],
                     columns=['Club'],
                     aggfunc='count',
                     fill_value=0,
                     )
piv.loc['GK'].mean()

                         Name                                             \
Club      SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Position
CAM                         0                     1                    0
CB                          5                     3                    3
CDM                         1                     0                    3
CF                          0                     0                    0
CM                          2                     1                    0
GK                          3                     2                    3
LAM                         0                     0                    0
LB                          2                     2                    2
LCB                         0                     1                    1
LCM                         0                     0                    0
LDM                         1                     0                    0
LF                          0                     0                    0
LM                          2                     2                    2
LS                          0                     0                    1
LW                          0                     0                    1
LWB                         0                     0                    0
RAM                         1                     0                    0
RB                          2                     2                    2
RCB                         1                     1                    0
RCM                         0                     0                    0
RDM                         1                     0                    1
RF                          0                     0                    0
RM                          0                     3                    2
RS                          0                     0                    1
RW                          0                     0                    0
RWB                         0                     0                    0
ST                          3                     2                    1

                                                                       \
Club     1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Position
CAM               0               0              1                  1
CB                1               4              1                  2
CDM               1               0              2                  2
CF                0               1              0                  0
CM                2               0              1                  1
GK                3               3              1                  1
LAM               0               0              0                  0
LB                0               1              1                  2
LCB               0               1              0                  1
LCM               0               1              0                  0
LDM               0               0              0                  0
LF                0               0              0                  0
LM                0               0              0                  0
LS                0               1              0                  0
LW                0               0              0                  0
LWB               1               0              0                  0
RAM               0               0              0                  0
RB                1               0              1                  1
RCB               0               1              0                  0
RCM               0               1              0                  0
RDM               0               0              0                  0
RF                0               0              0                  0
RM                1               3              2                  0
RS                0               1              0                  0
RW                0               2              0                  0
RWB               0               0              0                  0
ST                0               1              3                  0

                                                ...                    \
Club     1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Wycombe Wanderers
Position                                        ...
CAM                    0          3          0  ...                 0
CB                     2          1          3  ...                 3
CDM                    0          0          1  ...                 0
CF                     0          0          0  ...                 0
CM                     1          1          2  ...                 4
GK                     1          1          3  ...                 2
LAM                    0          0          0  ...                 0
LB                     1          3          3  ...                 1
LCB                    0          1          1  ...                 1
LCM                    1          0          1  ...                 1
LDM                    0          1          0  ...                 0
LF                     0          0          0  ...                 0
LM                     0          1          2  ...                 0
LS                     0          0          1  ...                 1
LW                     2          0          0  ...                 3
LWB                    0          0          0  ...                 0
RAM                    0          0          0  ...                 0
RB                     1          1          1  ...                 2
RCB                    0          1          1  ...                 1
RCM                    0          0          1  ...                 1
RDM                    0          1          0  ...                 0
RF                     0          0          0  ...                 0
RM                     0          1          2  ...                 1
RS                     1          0          1  ...                 1
RW                     0          0          0  ...                 1
RWB                    0          0          0  ...                 0
ST                     1          3          2  ...                 1

                                                                          \
Club     Yeni Malatyaspor Yeovil Town Yokohama F. Marinos Zagłębie Lubin
Position
CAM                     2           0                   3              0
CB                      2           3                   4              0
CDM                     3           0                   2              2
CF                      0           0                   0              0
CM                      2           1                   1              1
GK                      4           3                   4              3
LAM                     0           0                   0              0
LB                      1           2                   1              2
LCB                     0           1                   0              1
LCM                     0           1                   1              0
LDM                     1           0                   0              2
LF                      0           0                   0              0
LM                      2           2                   1              2
LS                      0           1                   0              0
LW                      0           0                   1              0
LWB                     0           0                   0              0
RAM                     0           0                   0              0
RB                      2           2                   2              2
RCB                     0           1                   0              1
RCM                     0           1                   1              0
RDM                     0           0                   0              1
RF                      0           0                   0              0
RM                      1           5                   1              4
RS                      0           1                   0              0
RW                      0           0                   1              0
RWB                     0           0                   0              0
ST                      2           4                   3              4

                                                                     \
Club     Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Position
CAM                       3               1         0             1
CB                        2               2         4             1
CDM                       2               5         0             0
CF                        0               0         0             1
CM                        0               0         1             3
GK                        3               3         3             3
LAM                       0               0         0             0
LB                        3               2         0             2
LCB                       1               1         1             1
LCM                       0               0         1             1
LDM                       1               1         0             0
LF                        0               0         0             0
LM                        4               1         0             2
LS                        0               0         0             0
LW                        0               0         3             0
LWB                       0               0         2             0
RAM                       0               0         0             0
RB                        1               3         0             1
RCB                       1               0         1             1
RCM                       0               0         1             0
RDM                       1               1         0             0
RF                        0               0         0             0
RM                        2               1         0             1
RS                        0               0         0             0
RW                        0               0         2             1
RWB                       0               0         2             0
ST                        1               1         5             1


Club     Śląsk Wrocław
Position
CAM                  0
CB                   1
CDM                  3
CF                   0
CM                   1
GK                   3
LAM                  0
LB                   2
LCB                  1
LCM                  0
LDM                  1
LF                   0
LM                   2
LS                   1
LW                   0
LWB                  0
RAM                  0
RB                   2
RCB                  1
RCM                  0
RDM                  1
RF                   0
RM                   2
RS                   1
RW                   0
RWB                  0
ST                   2

[27 rows x 650 columns]

In [ ]:
# Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о центральных полузащитниках. (CM)
# Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде отдельного датафрейма и сгруппировать часть данных этого датафрейма с помощью value_counts().

piv = fb.pivot_table(values=['Name'],
                     index=['Position'],
                     columns=['Club'],
                     aggfunc='count',
                     fill_value=0,
                     )
piv.loc['CM'].value_counts().sort_values(ascending = False)

In [ ]:
# С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage") 
# русские футболисты ("Russia"), играющие за ФК "AS Monaco".

piv_rus = fb.pivot_table(values = ['Wage'],
                        index = ['Nationality'],
                        columns=['Club'],
                        aggfunc = 'sum')
piv_rus.loc['Russia']['Wage']['AS Monaco']

In [8]:
# Создайте сводную таблицу, содержащую сведения о средней скорости футболистов, занимающих разные позиции (Position) в разных футбольных клубах (Club)
# Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают самой высокой скоростью.
piv_speed = fb.pivot_table(values=['SprintSpeed'],
                          index = ['Club'],
                          columns=['Position'],
                          aggfunc='mean',
                          fill_value=0)
piv_speed.max().sort_values(ascending = False)

             Position
SprintSpeed  RS          94.0
             RM          94.0
             LM          94.0
             LS          93.0
             RB          93.0
             LB          93.0
             CF          91.0
             LW          91.0
             ST          91.0
             RDM         91.0
             RW          91.0
             RCM         90.0
             CAM         89.0
             LF          88.0
             RCB         88.0
             LCB         88.0
             RWB         86.0
             RF          86.0
             CM          86.0
             LWB         86.0
             LAM         85.0
             LCM         84.0
             CDM         83.0
             LDM         79.0
             RAM         78.0
             CB          78.0
             GK          62.0
dtype: float64

In [27]:
# Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды (ST) обладают наибольшей средней скоростью.
piv_speed = fb.pivot_table(values=['SprintSpeed'],
                           index=['Club'],
                           columns=['Position'],
                           aggfunc='mean',
                           fill_value=0)
piv_speed.SprintSpeed['ST'].sort_values(ascending=False)

Club
Vitória                  91.000000
Sydney FC                88.000000
CD Lugo                  87.000000
Brøndby IF               84.666667
Leicester City           84.500000
                           ...
Málaga CF                 0.000000
PFC CSKA Moscow           0.000000
Stade Rennais FC          0.000000
Standard de Liège         0.000000
Sporting de Charleroi     0.000000
Name: ST, Length: 650, dtype: float64

In [28]:
# Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды (ST) обладают наибольшей средней скоростью.
piv_speed = fb.pivot_table(values=['SprintSpeed'],
                           index=['Club'],
                           columns=['Position'],
                           aggfunc='mean',
                           fill_value=0)
piv_speed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 650 entries,  SSV Jahn Regensburg to Śląsk Wrocław
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (SprintSpeed, CAM)  650 non-null    float64
 1   (SprintSpeed, CB)   650 non-null    float64
 2   (SprintSpeed, CDM)  650 non-null    float64
 3   (SprintSpeed, CF)   650 non-null    float64
 4   (SprintSpeed, CM)   650 non-null    float64
 5   (SprintSpeed, GK)   650 non-null    float64
 6   (SprintSpeed, LAM)  650 non-null    int64
 7   (SprintSpeed, LB)   650 non-null    float64
 8   (SprintSpeed, LCB)  650 non-null    float64
 9   (SprintSpeed, LCM)  650 non-null    float64
 10  (SprintSpeed, LDM)  650 non-null    float64
 11  (SprintSpeed, LF)   650 non-null    int64
 12  (SprintSpeed, LM)   650 non-null    float64
 13  (SprintSpeed, LS)   650 non-null    float64
 14  (SprintSpeed, LW)   650 non-null    float64
 15  (SprintSpeed, LWB)  650 non-null    float64
 16  (SprintSpeed, RAM)  650 non-null    int64
 17  (SprintSpeed, RB)   650 non-null    float64
 18  (SprintSpeed, RCB)  650 non-null    float64
 19  (SprintSpeed, RCM)  650 non-null    int64
 20  (SprintSpeed, RDM)  650 non-null    float64
 21  (SprintSpeed, RF)   650 non-null    int64
 22  (SprintSpeed, RM)   650 non-null    float64
 23  (SprintSpeed, RS)   650 non-null    int64
 24  (SprintSpeed, RW)   650 non-null    float64
 25  (SprintSpeed, RWB)  650 non-null    float64
 26  (SprintSpeed, ST)   650 non-null    float64
dtypes: float64(21), int64(6)
memory usage: 142.2+ KB