In [1]:
import pandas as pd
import datetime as dt
from datetime import datetime, timedelta
import numpy as np

In [2]:
df = pd.read_csv('Data//main_task.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [ ]:
df.head()

In [3]:
# What type of data in each column

for i,j in enumerate(df.columns):
    print(j,type(df.loc[1][i]))

Restaurant_id <class 'str'>
City <class 'str'>
Cuisine Style <class 'float'>
Ranking <class 'numpy.float64'>
Rating <class 'numpy.float64'>
Price Range <class 'float'>
Number of Reviews <class 'numpy.float64'>
Reviews <class 'str'>
URL_TA <class 'str'>
ID_TA <class 'str'>

In [1]:
obj = df.dtypes[df.dtypes == 'object'].index

NameError: name 'df' is not defined

In [5]:
for i in obj:
    print(i,df[i].unique())

Restaurant_id ['id_5569' 'id_1535' 'id_352' ... 'id_7068' 'id_8887' 'id_6057']
City ['Paris' 'Stockholm' 'London' 'Berlin' 'Munich' 'Oporto' 'Milan'
 'Bratislava' 'Vienna' 'Rome' 'Barcelona' 'Madrid' 'Dublin' 'Brussels'
 'Zurich' 'Warsaw' 'Budapest' 'Copenhagen' 'Amsterdam' 'Lyon' 'Hamburg'
 'Lisbon' 'Prague' 'Oslo' 'Helsinki' 'Edinburgh' 'Geneva' 'Ljubljana'
 'Athens' 'Luxembourg' 'Krakow']
Cuisine Style ["['European', 'French', 'International']" nan
 "['Japanese', 'Sushi', 'Asian', 'Grill', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']"
 ...
 "['Steakhouse', 'Barbecue', 'Australian', 'Argentinean', 'South American']"
 "['French', 'American', 'Cafe', 'Healthy', 'Soups']"
 "['French', 'Contemporary', 'Fusion', 'Gastropub']"]
Price Range ['$$ - $$$' nan '$$$$' '$']
Reviews ["[['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]"
 "[['Unique cuisine', 'Delicious Nepalese food'], ['07/06/2017', '06/19/2016']]"
 "[['Catch up with friends', 'Not exceptional'], ['01/08/2018', '01/06/2018']]"
 ...
 "[['Good by swedish standards', 'A hidden jewel in the middle of Västertorp...'], ['11/03/2016', '04/12/2008']]"
 "[['Underground restaurant', 'Oldest Restaurant in Warsaw'], ['07/11/2017', '06/18/2017']]"
 "[['Average', 'Nice an informal'], ['01/31/2016', '07/04/2012']]"]
URL_TA ['/Restaurant_Review-g187147-d1912643-Reviews-R_Yves-Paris_Ile_de_France.html'
 '/Restaurant_Review-g189852-d7992032-Reviews-Buddha_Nepal-Stockholm.html'
 '/Restaurant_Review-g186338-d8632781-Reviews-ROKA_Mayfair-London_England.html'
 ...
 '/Restaurant_Review-g189852-d947615-Reviews-Sushi_Bar_Anu-Stockholm.html'
 '/Restaurant_Review-g274856-d1100838-Reviews-Honoratka_dawna_Oberza_na_Miodowej-Warsaw_Mazovia_Province_Central_Poland.html'
 '/Restaurant_Review-g187849-d1109020-Reviews-Taberna_Vasca-Milan_Lombardy.html']
ID_TA ['d1912643' 'd7992032' 'd8632781' ... 'd947615' 'd1100838' 'd1109020']

In [6]:
# Сколько ресторанов относятся к среднему ценовому сегменту?
df[df['Price Range'] == '$$ - $$$'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18412 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      18412 non-null  object
 1   City               18412 non-null  object
 2   Cuisine Style      18412 non-null  object
 3   Ranking            18412 non-null  float64
 4   Rating             18412 non-null  float64
 5   Price Range        18412 non-null  object
 6   Number of Reviews  18197 non-null  float64
 7   Reviews            18412 non-null  object
 8   URL_TA             18412 non-null  object
 9   ID_TA              18412 non-null  object
dtypes: float64(3), object(7)
memory usage: 1.5+ MB

In [7]:
# Сколько ресторанов относятся к среднему ценовому сегменту?

df['Price Range'].value_counts()[0]

18412

In [8]:
# Сколько городов представлено в наборе данных?

df['City'].nunique()

31

In [ ]:
# Var_1

# # Сколько типов кухонь представлено в наборе данных?
# df1 = df.copy()

# #clean string from '[' ']' and split it
# df1['Cuisine Style'] = df1['Cuisine Style'].str.replace('[','').str.replace(']','').str.split(',')
# df1 = df1.explode('Cuisine Style')

# # clear spaces in string if any
# df1['Cuisine Style'] = df1['Cuisine Style'].str.strip()

# # Count how many cuisins in dataset
# df1['Cuisine Style'].nunique()

In [9]:
# Var 2

# Create a column where indicate that Cuisine is not presented for this restaurant
df['Cuisine_Style_Empty'] = df['Cuisine Style'].isnull().astype('uint8')

# Fill missed values in column with 'unknown'
df['Cuisine Style'] = df['Cuisine Style'].fillna("['unknown']")

# convert string in the column into a list
# !!! Still have spaces
df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: eval(x))

# add new column where count the number of cuisines in a single restaraunt
df['Cuisine_count'] = df['Cuisine Style'].apply(lambda x:len(x))

df1 = df.explode('Cuisine Style')

print(df1['Cuisine Style'].nunique()-1) # -1 cos we already filled missed value. Dont count it

125

In [ ]:
# To Var 1
# # Какая кухня представлена в наибольшем количестве ресторанов? Введите название кухни без кавычек или апострофов.
# df['Cuisine Style'].value_counts()

In [10]:
# To VAR 2
df1['Cuisine Style'] = df1['Cuisine Style'].astype(str).apply(lambda x: x.strip())
df1['Cuisine Style'].value_counts()

Vegetarian Friendly    11189
European               10060
unknown                 9283
Mediterranean           6277
Italian                 5964
                       ...
Burmese                    1
Latvian                    1
Yunnan                     1
Xinjiang                   1
Salvadoran                 1
Name: Cuisine Style, Length: 126, dtype: int64

In [ ]:
# To Var 1
# # Какое среднее количество кухонь предлагается в одном ресторане? Если в данных отсутствует информация о типах кухонь, то считайте, 
# # что в этом ресторане предлагается только один тип кухни. Ответ округлите до одного знака после запятой.

# df2 = df1.copy()
# # fill empty values to unknown
# df2['Cuisine Style'] = df2['Cuisine Style'].fillna('Unknown')


# df2 = df2.groupby('ID_TA')['Cuisine Style'].count().reset_index()
# round(df2['Cuisine Style'].mean(),1)

In [6]:
# To Var 2

print(df['Cuisine_count'].mean())

2.6224

### Reviews

In [11]:
# Create additional column where indicate that review is missing:
df['empty_review'] = (df['Reviews'] == '[[], []]').astype('float64')

In [12]:
def get_dates(list_str):
    try:
        list_str = list_str.replace('[nan', "['01/01/2000'")
        list_str = list_str.replace('nan]', "'01/01/2000']")
        list_str = list_str.replace('[]', "['01/01/2000', '01/01/2000']")
    except:
        list_str = "[['None Review', 'None Review'], ['01/01/2000', '01/01/2000']]"
    return list_str

In [13]:
# fill up nan in strings (presented as list in colums Revews) for default
# Fill up empty list [] with list of type ['01/01/2000', '01/01/2000']

df['Reviews'] = df['Reviews'].apply(get_dates)

In [14]:
# Convert data in colums 'Reviews' into a list

first_review = list()
first_review_date = list()
last_review = list()
last_review_date = list()

for review in df['Reviews']:
    rev_list = eval(review)
    if len(rev_list) == 2:
        if (len(rev_list[0]) == 2) and( len(rev_list[1]) == 2):
            last_review.append(rev_list[0][0])
            last_review_date.append(rev_list[1][0])
            first_review.append(rev_list[0][1])
            first_review_date.append(rev_list[1][1])
        elif (len(rev_list[0]) == 1) and( len(rev_list[1]) == 1):
            last_review.append(rev_list[0][0])
            last_review_date.append(rev_list[1][0])
            first_review.append('No Review')
            first_review_date.append('01/01/2000')
        else:
            print(rev_list)

In [15]:
df['last review'] = last_review

df['last review date'] = last_review_date

df['first review'] = first_review

df['first review date'] = first_review_date

In [16]:
# transform to datetime
df['last review date'] = pd.to_datetime(df['last review date'])

df['first review date'] = pd.to_datetime(df['first review date'])

In [17]:
# Time between reviews

df['time between reviews'] = (df['last review date']) - (df['first review date'])

def get_days(timedelta):
    return timedelta.days
df['time between reviews'] = df['time between reviews'].apply(get_days)

ONEHOTY PANDAS

In [20]:
df_out = pd.get_dummies(df, columns=['City'], dummy_na=True)

In [21]:
df_out

,Restaurant_id,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,Cuisine_Style_Empty,...,City_Oporto,City_Oslo,City_Paris,City_Prague,City_Rome,City_Stockholm,City_Vienna,City_Warsaw,City_Zurich,City_nan
0,id_5569,"[European, French, International]",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,0,...,0,0,1,0,0,0,0,0,0,0
1,id_1535,[unknown],1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,1,...,0,0,0,0,0,1,0,0,0,0
2,id_352,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,0,...,0,0,0,0,0,0,0,0,0,0
3,id_3456,[unknown],3458.0,5.0,NaN,3.0,"[['01/01/2000', '01/01/2000'], ['01/01/2000', ...",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,1,...,0,0,0,0,0,0,0,0,0,0
4,id_615,"[German, Central European, Vegetarian Friendly]",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,"[Italian, Vegetarian Friendly, Vegan Options, ...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,0,...,0,0,0,0,0,0,0,0,0,0
39996,id_6340,"[French, American, Bar, European, Vegetarian F...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,0,...,0,0,1,0,0,0,0,0,0,0
39997,id_1649,"[Japanese, Sushi]",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,0,...,0,0,0,0,0,1,0,0,0,0
39998,id_640,"[Polish, European, Eastern European, Central E...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,0,...,0,0,0,0,0,0,0,1,0,0
39999,id_4824,[Spanish],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
cols_to_drop = ['Restaurant_id','Price Range','Reviews','ID_TA','last review','first review']

for i in cols_to_drop:
    df = df.drop([i],axis = 1)

,City,Cuisine Style,Ranking,Rating,Number of Reviews,URL_TA,Cuisine_Style_Empty,Cuisine_count,empty_review,last review date,first review date,time between reviews
0,Paris,"[European, French, International]",5570.0,3.5,194.0,/Restaurant_Review-g187147-d1912643-Reviews-R_...,0,3,0.0,2017-12-31,2017-11-20,41
1,Stockholm,[unknown],1537.0,4.0,10.0,/Restaurant_Review-g189852-d7992032-Reviews-Bu...,1,1,0.0,2017-07-06,2016-06-19,382
2,London,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",353.0,4.5,688.0,/Restaurant_Review-g186338-d8632781-Reviews-RO...,0,7,0.0,2018-01-08,2018-01-06,2
3,Berlin,[unknown],3458.0,5.0,3.0,/Restaurant_Review-g187323-d1358776-Reviews-Es...,1,1,1.0,2000-01-01,2000-01-01,0
4,Munich,"[German, Central European, Vegetarian Friendly]",621.0,4.0,84.0,/Restaurant_Review-g187309-d6864963-Reviews-Au...,0,3,0.0,2017-11-18,2017-02-19,272
...,...,...,...,...,...,...,...,...,...,...,...,...
39995,Milan,"[Italian, Vegetarian Friendly, Vegan Options, ...",500.0,4.5,79.0,/Restaurant_Review-g187849-d2104414-Reviews-Ro...,0,4,0.0,2017-12-16,2017-11-12,34
39996,Paris,"[French, American, Bar, European, Vegetarian F...",6341.0,3.5,542.0,/Restaurant_Review-g187147-d1800036-Reviews-La...,0,5,0.0,2017-12-21,2017-12-12,9
39997,Stockholm,"[Japanese, Sushi]",1652.0,4.5,4.0,/Restaurant_Review-g189852-d947615-Reviews-Sus...,0,2,0.0,2016-11-03,2008-04-12,3127
39998,Warsaw,"[Polish, European, Eastern European, Central E...",641.0,4.0,70.0,/Restaurant_Review-g274856-d1100838-Reviews-Ho...,0,5,0.0,2017-07-11,2017-06-18,23
39999,Milan,[Spanish],4827.0,3.0,260.0,/Restaurant_Review-g187849-d1109020-Reviews-Ta...,0,1,0.0,2016-01-31,2012-07-04,1306

In [55]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer

In [56]:
ohe = OneHotEncoder()

In [80]:
ct = make_column_transformer((ohe,['City']),remainder = 'passthrough')

In [81]:
ct.fit_transform(df)

array([[0.0, 0.0, 0.0, ..., Timestamp('2017-11-20 00:00:00'), 41, 24],
       [0.0, 0.0, 0.0, ..., Timestamp('2016-06-19 00:00:00'), 382, 27],
       [0.0, 0.0, 0.0, ..., Timestamp('2018-01-06 00:00:00'), 2, 16],
       ...,
       [0.0, 0.0, 0.0, ..., Timestamp('2008-04-12 00:00:00'), 3127, 27],
       [0.0, 0.0, 0.0, ..., Timestamp('2017-06-18 00:00:00'), 23, 29],
       [0.0, 0.0, 0.0, ..., Timestamp('2012-07-04 00:00:00'), 1306, 20]],
      dtype=object)

---
# Dont run

In [ ]:
cols_to_drop = ['Restaurant_id','City','Cuisine Style','Reviews','URL_TA','last review','first review']

In [ ]:
for i in cols_to_drop:
    df = df.drop([i],axis = 1)

In [ ]:
df=df.drop(['ID_TA'],axis = 1)

In [ ]:
df=df.drop(['first review date'],axis = 1)

In [ ]:
df=df.drop(['last review date'],axis = 1)

In [ ]:
#df['Price Range'] = df['Price Range'].fillna(0)
df['Number of Reviews'] = df['Number of Reviews'].fillna(0)

In [ ]:
df.info()

In [ ]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Rating'], axis = 1)
y = df['Rating']

In [ ]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [ ]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [ ]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))